/* Importando font pelo google fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

body {
    margin: 0;
}

.init-page {
  background-color: #F4E0C9;
  display: flex;
  height: 100vh;
  overflow: hidden; /* evita scroll indesejado */
}

.main-introduction {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-introduction h1{
    font-family: "Yusei Magic", sans-serif;
    font-size: 2rem;
    color: #E97E34;
}

.main-introduction h2 {
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.5rem;
    color: #E97E34;
}
.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 2rem;
}

.content-card {
    position: relative; /* necessário para posicionar filhos absolutos */
    width: 64rem;
    height: 20rem;
    border-radius: 2rem;
    background-color: #187E9B;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* texto no topo */
    align-items: center;
    overflow: hidden;

}

.content-card h3 {
    font-family: "Yusei Magic", sans-serif;
    font-size: 1.5rem;
    color: #F4E0C9;
    text-align: center;
    margin: 0;

}

.content-card .images {
    position: absolute; /* fixa na base */
    bottom: 0; /* 👈 cola na base do retângulo */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem; /* espaço entre bonecos */
    width: 100%;
    padding-bottom: 0rem; /* pequeno respiro da borda */
}

.content-card .images img {
    height: 12rem;
    object-fit: contain;
}

.content-card .images img:hover {
    transform: scale(1.02);
    cursor: pointer;

}

.first {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    margin-left: 11rem;
}

.presentation-nina, .presentation-leo, .presentation-duda {
    width: 64rem;
    height: 12rem;
    background-color: #E97E34;
    margin-top: 1rem;
    padding: 2rem;
    border-radius: 2rem;
}

