/* Importando font pelo google fonts */
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Yusei+Magic&display=swap');

body {
    margin: 0;
}

.main-page {
  background-color: #F4E0C9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden; /* evita scroll indesejado */
}

.trail {
  display: flex;
  flex-direction: column;
  margin-left: 21rem;
  padding-top: 1.5rem;
}

.trail h1 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 2rem;
  color: #E97E34;
}

.phases {
  display: flex;
  flex-direction: row;
  margin-left: 20rem;
}

.phases h3 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.2rem;
  padding: 0.75rem ;
  margin-left: 1rem;
  color: #e97e34;

}

.card-progress1 {
  width: 50rem;
  height: 15rem;
  background-color: #187E9B;
  margin-left: 21rem;
  border-radius: 2rem;
}

.card-progress1 h3 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 1rem;
  padding: 2rem;
  color:#F4E0C9;
}

.phases h3 {
  cursor: pointer
}

.card-progress2 {
  display: flex;
  flex-direction: column;
  width: 65rem;
  height: 10rem;
  background-color: #187E9B;
  background-image: url(../../assets/family_budget.png);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
  background-position: top left;
  margin-left: 21rem;
  border-radius: 2rem;
  padding-bottom: 2rem;
}

.card-progress2 h2 {
  font-family: "Yusei Magic", sans-serif;
  font-size: 1.5rem;
  padding: 2rem;
  margin-left: 15rem;
}

.card-quizz {
  width: 65rem;
  height: 28rem;
  background-color: #187E9B;
  margin-left: 21rem;
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 1rem;
}

.card-quizz h2 {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  color: #F4E0C9;
  padding: 2rem;
  

}

.card-quizz hr {
  border: none;
  border-top: 1px solid #F4E0C9; /* cor clara para contrastar com fundo azul */
  margin: 1rem 0; /* espaço acima e abaixo */
}

.right-side-container {
  position: relative; /* referência para o content absoluto */
}

.content {
  position: fixed; /* ou fixed se quiser que fique sempre visível */
  top: 7.5rem;
  right: 1.5rem; /* distancia da lateral direita */
  bottom: 1.5rem;
  width: 19rem;
  height: 39.5rem; 
  background-color: #187E9B;
  border-radius: 2rem; /* arredonda só o canto que toca o conteúdo */
  padding: 1rem;
}